.general-setting {
  width: 600px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.r {
  margin-right: 15px;
}

.margin {
  margin: 10px !important;
}